SECRET_KEY=

ENCRYPTION_KEY=

DB_USER=
DB_PASS=
DB_HOST=
DB_PORT=
DB_NAME=

API_ID=
API_HASH=
TELEGRAM_BOT_TOKEN=

SPECIAL_VK_ACC_SERVICE_KEY=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=