SECRET_KEY='key'

ENCRYPTION_KEY=key

DB_USER=user
DB_PASS=1234
DB_HOST=host
DB_PORT=1234
DB_NAME=db_name

API_ID=1234
API_HASH=12345
TELEGRAM_BOT_TOKEN=12345

SPECIAL_VK_ACC_SERVICE_KEY=12345

EMAIL_HOST=host
EMAIL_PORT=123
EMAIL_HOST_USER=host_user
EMAIL_HOST_PASSWORD=host_password